<div class="container">
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <!-- <th scope="col">userID</th> -->
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
      </tr>
    </thead>
    <tbody *ngFor="let post of Posts">
      <tr>
        <!-- <td>{{post.userId}}</td> -->
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td maxlength="20">{{ post.body }}</td>
      </tr>
    </tbody>
  </table>
</div>
